In [37]:
import json
import csv
from bs4 import BeautifulSoup
import pandas as pd
import dask
import dask.dataframe as dd

In [34]:
path1 = "D:/FinUniver/Технологии обработки больших данных/Семинары/exam/data/датасеты_к_заданию_2/"
path2 = "D:/FinUniver/Технологии обработки больших данных/Семинары/exam/data/датасеты_к_заданию_3/data/"

# Задача 2

In [29]:
result = dict()

with open(path1 + "addres-book-q.xml", 'r') as f:
    data = BeautifulSoup(f, 'xml')
    for address in data.find_all('address'):
        man = dict()
        
        pos = address.find("position")
        if pos.text not in result:
            result[pos.text] = []
            
        man["name"] = address.find("name").text
        man["company"] = address.find("company").text
        man["phones"] = []
        
        phones = address.find("phones")
        for phone in phones.find_all("phone"):
            man["phones"].append(phone.text)
        
        result[pos.text].append(man)
        
result

{'Presidente': [{'name': 'Aicha Barki',
   'company': "Association Algerienne d'Alphabetisation Iqraa",
   'phones': ['+ (213) 6150 4015', '+ (213) 2173 5247']}],
 'Directeur General': [{'name': 'Francisco Domingos',
   'company': 'Institut National de Education des Adultes',
   'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}],
 'Directrice Nationale': [{'name': 'Maria Luisa',
   'company': 'Institut National de Education des Adultes',
   'phones': ['+ (244) 4232 2836']}],
 'Chef': [{'name': 'Abraao Chanda',
   'company': 'Institut National de Education des Adultes',
   'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}],
 'Executive Director': [{'name': 'Beatriz Busaniche',
   'company': 'Universidad de Buenos Aires',
   'phones': ['+ (54-11) 4784 1159']},
  {'name': 'Francesca Beddie',
   'company': 'Adult Learning Australia',
   'phones': ['+ (61-2) 6274 9500', '+ (61-2) 6274 9513']}],
 'Secretary': [{'name': 'Graham John Smith',
   'company': 'Disability Australia Ltd',
   'phones': ['+ (61-3) 9807 4702']}]}

In [31]:
with open(path1 + "result_positions.json", 'w', encoding='utf8') as f:
    json.dump(result, f)

In [32]:
with open(path1 + "result_positions.json", 'r', encoding='utf8') as f:
    print(json.load(f))

{'Presidente': [{'name': 'Aicha Barki', 'company': "Association Algerienne d'Alphabetisation Iqraa", 'phones': ['+ (213) 6150 4015', '+ (213) 2173 5247']}], 'Directeur General': [{'name': 'Francisco Domingos', 'company': 'Institut National de Education des Adultes', 'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}], 'Directrice Nationale': [{'name': 'Maria Luisa', 'company': 'Institut National de Education des Adultes', 'phones': ['+ (244) 4232 2836']}], 'Chef': [{'name': 'Abraao Chanda', 'company': 'Institut National de Education des Adultes', 'phones': ['+ (244-2) 325 023', '+ (244-2) 325 023']}], 'Executive Director': [{'name': 'Beatriz Busaniche', 'company': 'Universidad de Buenos Aires', 'phones': ['+ (54-11) 4784 1159']}, {'name': 'Francesca Beddie', 'company': 'Adult Learning Australia', 'phones': ['+ (61-2) 6274 9500', '+ (61-2) 6274 9513']}], 'Secretary': [{'name': 'Graham John Smith', 'company': 'Disability Australia Ltd', 'phones': ['+ (61-3) 9807 4702']}]}

# Задача 3

In [76]:
accounts = dd.read_csv(path2 + 'accounts.*.csv', dtype={'amount': 'int64'})

In [77]:
accounts = accounts[accounts["amount"] >= 1000]
accounts = accounts[accounts["amount"] <= 1500]

In [78]:
accounts.head()

     id    names  amount
2   350      Dan    1175
16  377  Norbert    1222
47  367      Ray    1351
48   50    Quinn    1477
50  322   Yvonne    1353

In [106]:
accounts.groupby("id")["amount"].count().idxmax().compute()

485